.note-card{
    display: flex;
    margin:40px;
    height:80px; 
    width:550px;
    justify-content: center;
    align-items: center;
    border: 2px solid #e2e2e2;
    box-shadow: 2px 2px 8px 3px #afafaf;
}

.note-title{
    width:550px;
    height:170px;
    margin:40px;
    border: 2px solid #e2e2e2;
    // box-shadow: 10px 10px 5px grey;
    // border: 2px solid black;
}

.card-content{
    margin: 5px;
    width: 750px;
    height:50px;
    // padding: 5px 5px 5px 40px;
    padding-left: 40px;
    font:x-large ;
     
}

.close-note{
    // width: 70px;
    // height: 30px;
    font-size: larger;
    color: #ec2e4d;
    font-weight: 700;
    margin: 15px;
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
}