.cards-display {
    color: black;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 6px 1px #9c9c9c;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-container{
    display:flex;
    margin-left: 300px;
    margin-right: 300px;
    max-width: 750px;
    min-width: 750px;
    flex: 1 1 750px;
}

.notecard-icon {
    width: 100%;
    padding:2px;
    // margin-left: 10px;
    display: flex;
    justify-content: space-around;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    // height: 100vh;
    margin-left: 20%;
    margin-right: 11%;
}

.card-details {
    // align-items: center;
    height: fit-content;
    display: flex;
}