.SignUpContainer{
    display: flex;
    /* width: 400px; */
    height: 100%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    flex-direction: column;
  }
  .cardContainer {
    width: 400px;
    height: 500px;
    padding: 10px;
  }
  .nameContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    /* padding: 15px 15px; */
  }
  .firstname{
    padding: 10px;
    height: 50px;
  }
  .lastname{
    padding: 10px;
    height: 50px;
  }
  .emailContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 35px; 
  }
  .email {
    width: 95%;
    padding: 10px;
    height: 50px;
  }
  .pwdContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 35px; 
  }
  .password{
    width: 95%;
    padding: 10px;
    height: 50px;
    /* padding-top: 15px; */
  }
  .confirmPwdContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 35px; 
  }
  .conPwd{
    width: 95%;
    padding: 10px;
    height: 50px;
  }
  .signUpButtonContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    width: 95%;
  }
  .signup{
    font-weight: bold;
    width: 40%;
    height: 40px;
    border-radius: 3 pt;
    background: #eeaeb8;
    border: 0px;
    color: #ec2e4d;
    font-size: 15px;
    border-radius: 8rem;
  }