.sidenav {
    width: 15%;
    height: 56rem;
    margin-top: 25px;
    margin-left: -10px;
    
}

.notes-image {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reminder-image {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editCard-labels {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.archive-mode {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trash-image {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}