#pop-style{
    font-size: 15px;
    margin: 5px;
    padding: 8px;
    display: flex;
    align-items: flex-end;
}
#pop-style:hover{
    background: #e6e3e3;
}

.react-calendar {
    width: 230px;
}
.select-date{
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
}
.select-time{
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px; 
}